<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
	<title>Routes</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
<script src="{% static 'js/materialize.min.js' %}"></script>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script> 
</head>
<body>
{% for stages in ob %}
	{{source}} - 


	{% for route in ob2 %}
		{{route}}
	{% endfor %}
	<br>

{% endfor %}
<br>
<br><br><br>
{{dest}} - 
{% for route in ob3 %}
		{{route}}
	{% endfor %}

<br><br><br>
<hr>
<center>Busses from {{source}} to {{dest}}:</center>
<br>
<table border="1px">
<tr>
	<th>Bus Route</th>
	<th>Occupancy</th>
	<th>ETA(mins)</th>
	<th>Latitude</th>
	<th>Longitude</th>
</tr>
{% for route,crowd,eta,lat,lon in ob4 %}
<tr>

	<td>	{{route}}</td>
	<td>	{{crowd}}</td>
	<td>	{{eta}}</td>
	<td>	{{lat}}</td>
	<td>	{{lon}}</td>
</tr>

	{% endfor %}
</table>
</body>
</html>